.article-list {
	& .link {
		border: 0;
		border-bottom: 0.125rem solid var( --medium-gray );
		display: grid;
		grid-template: 1fr / 1fr 40%;
		align-items: center;
		padding: 1rem 2rem;
		transition: background .3s ease, color .3s ease;

		&:hover {
			background: var( --color-link-hover );
			color: var( --white );
		}
	}

	& .item:last-child .link {
		border-bottom: 0;
	}

	& .date {
		justify-self: end;
	}
}
