.navigation-menu {
	align-self: center;

    &.-bottom {
        grid-column-end: span 3;
    }

    & ul {
        display: flex;
        list-style-type: none;

	    & .sub-menu {
		    display: none;
	    }
    }

	&.-side {

	}

	&.-logo {
		font-family: var( --secondary-font );
		font-size: 2.25rem;
		letter-spacing: 5px;
		text-align: center;
		text-transform: uppercase;
	}
}
