.primary-menu {
	& .menu-item {
		position: relative;

		&:after {
			background-color: var( --color-link-hover );
			content: " ";
			display: block;
			width: 0;
			height: 1px;
			position: absolute;
			top: calc( 50% + 1px );
		}

		&:hover {
			&:after {
				width: 100%;
			}

			& a {
				color: var( --color-link-hover );
			}
		}
	}

	& a {
		color: var( --color-link );
		font-size: .75rem;
		letter-spacing: 5px;
		margin: 0 25px;
		text-decoration: none;
		text-transform: uppercase;

		&:nth-last-child {
			margin-right: 0;
		}

		&:hover {
			color: var( --color-link-hover );
		}
	}
}
