body {
    font-family: var( --primary-font );
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var( --secondary-font );
}

a {
	border-bottom: 0.125rem solid;
	color: var( --color-link );
	text-decoration: none;

	&:hover {
		border: 0;
	}
}

/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}
