/**
 * Global variables
 */

@custom-media --tablet ( width >= 768px );

:root {
    /**
     * Colors
     */
    --white:         #fff;
    --black:         #000;
    --dark-gray:     #686868;
    --medium-gray:   #D8D8D8;
    --light-gray:    #F6F6F6;
    --orient-blue:   #015b88;
	--cardinal-pink: #88015A;

    --color-link: var( --black );
    --color-link-hover: var( --cardinal-pink );

    --primary-font:   'Lato', sans-serif;
    --secondary-font: 'Playfair Display', serif;

    /**
     * Icons
     */
    --icon-share: url( '../../assets/svg/share.svg' );
    --icon-search: url( '../../assets/svg/search.svg' );
    --icon-bell: url( '../../assets/svg/bell.svg' );
    --icon-heart: url( '../../assets/svg/heart.svg' );
    --icon-angle-down: url( '../../assets/svg/angle-down.svg' );
}
